<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net45" />
  <package id="CustomMetadataFix.Microsoft.Cci.Metadata" version="3.0.0" targetFramework="net4" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="log4net" version="1.2.10" allowedVersions="[1.2.10] " requireReinstallation="true" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net45" />
</packages>